@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/uNople/Todo" target="_blank">View the source on GitHub!</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
