@using TodoUi.Data
@using TodoUi.Database

<div style="display: flex; justify-content: space-between">
    <h2>Task dashboard</h2>
    <button class="btn btn-primary" @onclick="SaveData" disabled="@IsSaveHappening">Save Data</button>
</div>
<input type="text" @bind="Title" />
<input type="text" @bind="Description" />
<button class="btn btn-primary" @onclick="CreateTodo">Add a task</button>

<ul>
    @foreach (var todo in Todos)
    {
        <li>@todo.Title</li>
        <p>@todo.Description</p>
        <input type="checkbox" @bind="todo.IsCompleted">
        <button class="btn btn-secondary" @onclick="@(e => Delete(todo))">Delete</button>
    }
</ul>

@code
{

}