@using TodoUi.Data
@using TodoUi.Database
@inject TodoService TodoService

<h2>Task dashboard</h2>

<input type="text" @bind="Title" />
<input type="text" @bind="Description" />
<button class="btn btn-primary" @onclick="CreateTodo">Add a task</button>

<ul>
    @foreach (var todo in Todos)
    {
        <li>@todo.Title</li>
        <p>@todo.Description</p>
        <input type="checkbox" @bind="todo.IsCompleted">
        <button class="btn btn-secondary" @onclick="@(e => Delete(todo))">Delete</button>
    }
</ul>

@code
{
    private string Title { get; set; }
    private string Description { get; set; }
    private List<Todo> Todos { get; set;}

    private async Task CreateTodo()
    {
        await TodoService.Create(Title, Description);
        Todos = await TodoService.Get();
        Title = "";
        Description = "";
    }

    private async Task Delete(Todo todo)
    {
        await TodoService.Delete(todo);
        Todos = await TodoService.Get();
    }

    protected override async Task OnInitializedAsync()
    {
        Todos = await TodoService.Get();
        this.StateHasChanged();
    }
}