@using TodoUi.Data
@inject TodoService TodoService

<button class="btn btn-primary" @onclick="AddTask">Click me</button>

<ul>
    @foreach (var todo in TodoService.Tasks)
    {
        <li>@todo.Title</li>
        <p>@todo.Description</p>
    }
</ul>

@code {
    private static Random _rng = new Random();
    private void AddTask()
    {
        TodoService.AddTask($"Task {_rng.Next()}", $"Description {_rng.Next()}");
    }
}
