@using TodoUi.Data
@inject TodoService TodoService

<button class="btn btn-primary" @onclick="TodoService.AddTask">Click me</button>

<ul>
    @foreach (var todo in TodoService.Tasks)
    {
        <li>@todo.Title</li>
        <p>@todo.Description</p>
        <input type="checkbox" @bind="todo.IsCompleted">
        <button class="btn btn-secondary" @onclick="@(e => TodoService.UpdateHeading(e, todo))">Delete</button>
    }
</ul>
